# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Environments
.venv/
venv/
ENV/
env/
.venv.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.* 
!**/.env*

# VS Code
.vscode/

*.log
src/.env
.env
